<ion-header>
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/logo-cbfa.png"></ion-img>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" placeholder="Usuario" value="usuario.teste"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="Senha" value="123456"></ion-input>
        </ion-item>
        <ion-tab-button tab="tab2">
          <ion-button size="small" tab="tab2">Entrar</ion-button>
        </ion-tab-button>
      </ion-card-content>
    </ion-card>
</ion-content>
